.info-form{
    position: relative;
    width: 100%;
    margin: 45px auto 20px auto;
    text-align: center;
    padding-left: 12px;
    max-width: 450px;

    &__input{
	    color: #ADA8A8; 
	    font-size: 12px;
	    border-radius: 5px;
	    height: 50px;
	    line-height: 45px;
	    padding-left: 13px;
	    padding-right: 10px; 
	    position: relative;
	    width: 48%;
	    display: inline;
	    font-weight: lighter;
    }

   	span{
   		position: absolute;
	    top: 0;
	    z-index: 1;
	    font-size: 30px;
	    height: 40px;
	    line-height: 40px;
	    margin: 5px auto;
	    left: 49%;
	    color: #ADA8A8; 
	    font-weight: 100;
   	}

    &__input.last{
		top: 0;
	    left: -12px;
	    /* border-left: solid 1px #4A4A4A; */
	    border-top-left-radius: 0px;
	    border-bottom-left-radius: 0px;
    }

    &__submit{
	    cursor: pointer;
	    display: block;
	    margin: 20px auto;
	    width: 94%;
	    height: 50px;
	    font-size: 20px;
	    line-height: 48px;
	    border-radius: 5px;
	    padding: 0px;
	    background-color: black;
	    color: white;
	    font-weight: bold;
	    position: relative;
	    left: -5px;
	    max-width: 250px;
    }
}
