.page-section{
	padding: 90px 0px;
	background-color: white;
	color:black;
	color:#221e20;

	&--small-padding{
		padding-top: 25px;
		padding-bottom:25px;
	}

	&--medium-padding{
		padding-top: 45px;
		padding-bottom:45px;
	}
	
	&--no-bottom-padding{
		padding-bottom: 0px;
	}

	&--blue{
		background-color: $lve-blue; 
		color:white; 

		& .page-section__title{
			color: white; 
		}
	}
	&--black{
		background-color: black; 
		color:white;
	}
	&--brown{
		background-color: #221e20;
		color:white;

		& .page-section__title{
			color: white; 
		}

	}


	&__title{
		text-transform: uppercase;
	    font-size: 35px;
	    padding: 25px 0 10px 0;
	    color: inherit;
	    line-height: 1.2;
	    font-weight: 700;
	    text-align: center;
	    color:black;
	    color: #221e20;
	}


}