.team-founder-group{

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 760px;
    margin: 0 auto;
    @include at-media-breakpoint(720px) {
    	flex-direction: row;
    }
}

.team-founder{
	width: 100%;
    max-width: 375px;
    padding: 25px;
    margin: 0 auto; 

    &__name{
        color: #ffffff;
        font-size: 30px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px; 
    	
    	& a{
            text-decoration: none;
            background-color: #ffffff;
            color: #221e20;
            padding: 10px;
            text-transform: uppercase;
            border-radius: 24px;
            position: relative;
            padding-left: 40px;
            vertical-align: middle;
            padding-right: 12px;
            font-size: 11px;
            border: 0;
            height: 35px;
            min-width: 1px;
            min-height: 1px;
            display: inline-block;
            margin-left: 18px;

            & img{
                max-width: 29px;
                max-height: 29px;
                position: absolute;
                left: 3px;
                top: 3px;
            }

            & span{
                font-weight: bold;
            }

            &:hover{
                color: #56cbf2;
            }
    	}
    }

    &__image{
    	min-height: 200px;
	    height: 100%;
	    max-height: 240px;
	    width: 100%;
    }

    &__title{
    	color: #F1F4F1; 
    	font-size: 18px; 
    	font-weight: bold; 
    	line-height: 40px;
    }

    &__bio{
    	color: #F1F4F1; 
    	font-size: 16px;
    	padding-top:10px;
    	padding-bottom: 40px; 
    }

    &__social-title{
    	color: #F1F4F1; 
    	font-size: 18px;
    	font-weight: normal; 
    }

    &__social{
    	margin-top: 15px; 
    	display: flex; 
    	flex-wrap: wrap; 

    	&__item{
		    display: block;
		    width: 35px;
		    height: 35px;
		    border-radius: 50px;
		    background-color: white;
		    margin: 7px;
		    position: relative;

		    &:hover{
		    	background-color: #56CCF2; 
		    }



			& img{
                display: block;
                height: 30px;
                width: 25px;
                position: relative;
                top: 9px;
                margin: 0 auto;
			}
    	}

    }
}