.team-founder-group{

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 760px;
    margin: 0 auto;
    @include at-media-breakpoint(720px) {
    	flex-direction: row;
    }
}

.team-founder{
	width: 100%;
    max-width: 375px;
    padding: 25px;
    margin: 0 auto; 

    &__name{
    	color: #56CCF2; 
    	font-size: 30px; 
    	font-weight: 300;  
    	
    	& a{
    		
    		color: #56CCF2; 
    		text-decoration: none;
    		
    		&:hover{
    			text-decoration: none; 
    			color: black;
    		}
    	}
    }

    &__image{
    	min-height: 200px;
	    height: 100%;
	    max-height: 250px;
	    width: 100%;
    }

    &__title{
    	color: #F1F4F1; 
    	font-size: 18px; 
    	font-weight: bold; 
    	line-height: 40px;
    }

    &__bio{
    	color: #F1F4F1; 
    	font-size: 16px;
    	padding-top:10px;
    	padding-bottom: 40px; 
    }

    &__social-title{
    	color: #F1F4F1; 
    	font-size: 18px;
    	font-weight: normal; 
    }

    &__social{
    	margin-top: 15px; 
    	display: flex; 
    	flex-wrap: wrap; 

    	&__item{
		    display: block;
		    width: 50px;
		    height: 50px;
		    border-radius: 50px;
		    background-color: white;
		    margin: 7px;
		    position: relative;

		    &:hover{
		    	background-color: #56CCF2; 
		    }



			& img{
				display: block;
			    height: 35px;
			    width: 35px;
			    position: relative;
			    top: 7px;
			    margin: 0 auto;
			}
    	}

    }
}