.visual-lead{
	// background-color: $lve-blue;
	// //margin-top: 60px; 
	// margin-top: -5px; 
	// width: 100%;
	// // min-height:calc(100vh - 90px); 
	// //position: relative;
	// padding-top:60px;
	// padding-bottom: 90px; 
	// background-image: url("../img/visuallead.jpg");

    background-color: $lve-blue;
    margin-top: 89px;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
    min-height: 450px;
    background-image: url(../img/visuallead.jpg);
    background-size: cover;
    //background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    @include at-media-breakpoint(550px) {
		min-height: 575px;
    }


	& .wrapper{
	    max-width: 750px;
	    z-index: 0;
	    position: relative; 
	}

	& .overlay{
		position: absolute;
	    height: 100%;
	    background: #424242;
	    width: 100%;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    opacity: 0.5;
	    width: 100%;
	    padding-top: 60px;
	    padding-bottom: 90px;
	    z-index: -1;
	}

	& + section{
		position: relative;
		z-index: 5; 
	}

	&__title{
		color:white; 
		text-align: center;
	    padding-top: 30px;
	    padding-bottom: 20px;
	    font-size: 32px;
	    //text-transform: uppercase;
	    max-width: 720px; 
	    font-family: $second-font; 
	    font-weight: bolder; 

	    @include at-media-breakpoint(375px) {
		    font-size: 38px;
		}

	    @include at-media-breakpoint(445px) {
		    font-size: 60px;
		}

		@include at-media-breakpoint(720px) {
		    font-size: 65px;
		    line-height: 75px;
		}

	}

	&__subtitle{
		font-family: $second-font; 
		text-align: center;
	    color: white;
	    font-weight: bold;
	    font-size: 13px;
	    //max-width: 530px;
	    margin: 20px auto 0px auto;

		@include at-media-breakpoint(425px) {
		    font-size: 14px;
		}

		@include at-media-breakpoint(500px) {
		    font-size: 16px;
		}	

	}

	& .input-form{
		margin: 30px auto; 
	}
}